
{% extends 'journal/navbar.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3> Update a thought </h3>

        <p> You may modify the details of your chosen thought below: </p>

        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{UpdateThought|crispy}}

            <br>

            <button class="btn btn-outline-primary btn-md w-100 btn-block p-3" type="submit"> <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Update thought </button>


        </form>

        <br>

        <a href="{% url 'my-thoughts' %}"> Return to thoughts </a>


    </div>

    <br>

{% endblock %}











